<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Particles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Particles.Properties.Settings>
            <setting name="ParticlesCount" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="DensityEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DensityArea" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="ParticleColor" serializeAs="String">
                <value>16, 124, 16</value>
            </setting>
            <setting name="ShapeType" serializeAs="String">
                <value>circle</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="OpacityRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityAnim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpacityAnimSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpacityMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OpacitySync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SizeRandom" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SizeAnim" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SizeAnimSpeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SizeMin" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SizeSync" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineLinked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LineDistance" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="LineColor" serializeAs="String">
                <value>16, 160, 16</value>
            </setting>
            <setting name="LineOpacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MoveEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MoveSpeed" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="MoveDirection" serializeAs="String">
                <value>none</value>
            </setting>
            <setting name="MoveRandom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MoveStraight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutMode" serializeAs="String">
                <value>out</value>
            </setting>
            <setting name="HoverEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoverMode" serializeAs="String">
                <value>grab,bubble</value>
            </setting>
            <setting name="ClickEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ClickMode" serializeAs="String">
                <value>repulse</value>
            </setting>
            <setting name="GrabDistance" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="GrabLineOpacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="BubbleDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="BubbleSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BubbleDuration" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BubbleOpacity" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="RepulseDistance" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="RepulseDuration" serializeAs="String">
                <value>0.8</value>
            </setting>
            <setting name="PushCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RemoveCount" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="RetinaDetect" serializeAs="String">
                <value>True</value>
            </setting>
        </Particles.Properties.Settings>
    </userSettings>
</configuration>