<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Particles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Particles.Properties.Settings>
            <setting name="Particles_JSON" serializeAs="String">
                <value>{
  "particles": {
    "number": { "value": 125 },
    "color": { "value": "#107C10" },
    "shape": { "type": "circle" },
    "opacity": {
      "value": 0.9,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 1,
        "opacity_min": 0.5,
        "sync": false
      }
    },
    "size": {
      "value": 3,
      "random": true,
      "anim": {
        "enable": true,
        "speed": 2,
        "size_min": 1,
        "sync": false
      }
    },
    "line_linked": {
      "enable": true,
      "distance": 125,
      "color": "#10A010",
      "opacity": 0.8,
      "width": 2
    },
    "move": {
      "enable": true,
      "speed": 1.5,
      "direction": "none",
      "random": false,
      "straight": false,
      "out_mode": "out",
      "attract": { "enable": false }
    }
  },
  "interactivity": {
    "detect_on": "canvas",
    "events": {
      "onhover": {
        "enable": true,
        "mode": "grab,bubble"
      },
      "onclick": {
        "enable": true,
        "mode": "repulse"
      },
      "resize": true
    },
    "modes": {
      "grab": {
        "distance": 150,
        "line_linked": { "opacity": 0.8 }
      },
      "bubble": {
        "distance": 200,
        "size": 5,
        "duration": 2,
        "opacity": 0.8
      },
      "repulse": {
        "distance": 150,
        "duration": 0.8
      },
      "push": { "particles_nb": 4 },
      "remove": { "particles_nb": 4 }
    }
  },
  "retina_detect": true
}</value>
            </setting>
        </Particles.Properties.Settings>
    </userSettings>
</configuration>